<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>E:\NETBEANS 8.2\final-project-ChandiSandamini\ProjectFinal\dist\ProjectFinal.jar</jar>
  <outfile>E:\NETBEANS 8.2\final-project-ChandiSandamini\ProjectFinal\dist\ProjectFinal.exe</outfile>
  <errTitle>My Program needs java please install java first.</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>E:\NETBEANS 8.2\final-project-ChandiSandamini\ProjectFinal\src\resource\multiple-choice-exam-rgb-color-icon-vector-34064074.ico</icon>
  <singleInstance>
    <mutexName>ProjectFinal</mutexName>
    <windowTitle>Project Final</windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Project Final</fileDescription>
    <copyright>NIL</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>ProjectFinal</productName>
    <companyName>PF</companyName>
    <internalName>ProjectFinal</internalName>
    <originalFilename>ProjectFinal.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>